@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Poppins, sans-serif;
}

.App {
  text-align: center;
  margin: 2em;
}

.wrapper {
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 2em;
}

P {
  margin: 0px 10px;
}

button {
  font-size: 1em;
  width: 1em;
}
